<a href="https://colab.research.google.com/github/alekyapopuri96/DataVizFall2020_Colab/blob/master/Python_Basics_lec02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> I am Alekya Popuri</h1>

In [ ]:
%reset -f

<h1> Python Basics</h1>

In [ ]:
print("Hello World")

Hello World

**Variables** and **Objects**

In [ ]:
str_string = "This is a string." ## String
multi_line_string = """This is a miltiline string
line 1
line 2
line 3
"""
Integer_Variable = 1996
RealNumberVar = 2.203328 ## float 
boolVar = True ## True/False
List_string_integer = [str_string, Integer_Variable, RealNumberVar, boolVar, [1,2,3]] ## a list of items
constant_tuple = ("This","is",1,"tuple","!") ## tuple 
Dictionary_list = {0: 100,
                       '1': 222,
                       'A200':100,
                       (1,2,3,4,5):"value is a string, key is a tuple"}## dictionary will be used a lot
Set_object = set([1,2,3,4,4,4,4,5,6,7,7,7,8]) ## set is good for removing repeated objects from a list

print("single string:", str_string)
print("multilinestring:",multi_line_string)
print("integer value:", Integer_Variable)
print("realnumber:",RealNumberVar)
print("boolean variable:(true or false)",boolVar)
print("simple list object:",List_string_integer)
print("tuple:(cant be changed)",constant_tuple)
print("dictionary:",Dictionary_list)
print("set(can remove duplicates):", Set_object)

single string: This is a string.
multilinestring: This is a miltiline string
line 1
line 2
line 3

integer value: 1996
realnumber: 2.203328
boolean variable:(true or false) True
simple list object: ['This is a string.', 1996, 2.203328, True, [1, 2, 3]]
tuple:(cant be changed) ('This', 'is', 1, 'tuple', '!')
dictionary: {0: 100, '1': 222, 'A200': 100, (1, 2, 3, 4, 5): 'value is a string, key is a tuple'}
set(can remove duplicates): {1, 2, 3, 4, 5, 6, 7, 8}

**Operations** and **Comparisions**

In [ ]:
## Initializing Lists
First_list=[1,2,3,4]
Second_list=[5,6,7]
print("firstlistid:",id(First_list))
print("secondlistid:",id(Second_list))

firstlistid: 140113798487240
secondlistid: 140113667935560

In [ ]:
First_list = Second_list
print("First list after copying :", First_list)
## printing list id's after copying
print("firstlistid:",id(First_list))
print("secondlistid:",id(Second_list))

First list after copying : [5, 6, 7]
firstlistid: 140113667935560
secondlistid: 140113667935560

**Conditions**

In [ ]:
## If...Else..If
a=7
b=9
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal b")

a is less that b

**Loops**

In [ ]:
## For Loop
for i in range(2000,2020,2):
  print("number:",i)

number: 2000
number: 2002
number: 2004
number: 2006
number: 2008
number: 2010
number: 2012
number: 2014
number: 2016
number: 2018

In [ ]:
number = range(2000,2020,2)
for i,element in enumerate(number):
  print(f'element index {i} is {element}')

element index 0 is 2000
element index 1 is 2002
element index 2 is 2004
element index 3 is 2006
element index 4 is 2008
element index 5 is 2010
element index 6 is 2012
element index 7 is 2014
element index 8 is 2016
element index 9 is 2018

***While*** **Loop**

In [ ]:
lst = range(0,100,10)
i = 0
element = 0
while(element<30):
  element  = lst[i]
  print(element)
  i=i+1

0
10
20
30

**Pandas**

In [3]:
# importing pandas
%reset -f 

import matplotlib.pyplot as plt
import pandas as pd

# **Data** **Frame**

In [4]:
df_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]

df = pd.DataFrame(df_list,columns = ['natural numbers'])

df.head(3)

   natural numbers
0                1
1                2
2                3

In [9]:
## multiplying data frame with 200
df['num*200'] = df['natural numbers']*200
df.head(6)

   natural numbers  num*200
0                1      200
1                2      400
2                3      600
3                4      800
4                5     1000
5                6     1200

In [10]:
## filtering data frame

df[df['num*200']>1000]

   natural numbers  num*200
5                6     1200
6                7     1400
7                8     1600
8                9     1800

Loading COVID-19 Data

In [16]:
covid_19_data_Confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
covid_19_data_Recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
covid_19_data_Deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"


df_covid_confirmed = pd.read_csv(covid_19_data_Confirmed)
## read csv online:
df_covid_Recovered = pd.read_csv(covid_19_data_Recovered)
## read csv online:
df_covid_Deaths = pd.read_csv(covid_19_data_Deaths)

In [17]:
df_covid_confirmed.head(10)

                 Province/State       Country/Region  ...  9/4/20  9/5/20
0                           NaN          Afghanistan  ...   38304   38324
1                           NaN              Albania  ...    9967   10102
2                           NaN              Algeria  ...   45773   46071
3                           NaN              Andorra  ...    1215    1215
4                           NaN               Angola  ...    2876    2935
5                           NaN  Antigua and Barbuda  ...      95      95
6                           NaN            Argentina  ...  461882  471806
7                           NaN              Armenia  ...   44461   44649
8  Australian Capital Territory            Australia  ...     113     113
9               New South Wales            Australia  ...    4104    4114

[10 rows x 232 columns]

In [18]:
df_covid_confirmed.describe()

              Lat        Long  ...        9/4/20        9/5/20
count  266.000000  266.000000  ...  2.660000e+02  2.660000e+02
mean    21.076624   22.829441  ...  1.000356e+05  1.010269e+05
std     24.904600   70.191330  ...  5.259968e+05  5.315689e+05
min    -51.796300 -135.000000  ...  0.000000e+00  0.000000e+00
25%      6.677575  -15.277675  ...  4.540000e+02  4.610000e+02
50%     22.820850   20.921188  ...  3.022500e+03  3.072000e+03
75%     41.143200   77.913685  ...  3.115475e+04  3.127025e+04
max     71.706900  178.065000  ...  6.200518e+06  6.244970e+06

[8 rows x 230 columns]

In [20]:
## listing countries
df_covid = df_covid_confirmed
Countries = df_covid['Country/Region'].unique()
Countries

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [21]:
## data specific to countries-india, bahamas and us

df_covid_c = df_covid[df_covid['Country/Region'].isin(['India','US','Bahamas'])].copy()                            
df_covid_c.head(20)

    Province/State Country/Region        Lat  ...   9/3/20   9/4/20   9/5/20
18             NaN        Bahamas  25.025885  ...     2386     2386     2476
143            NaN          India  20.593684  ...  3936747  4023179  4113811
242            NaN             US  40.000000  ...  6150016  6200518  6244970

[3 rows x 232 columns]

In [22]:
## filtering with province isNaN
df_covid_c = df_covid_c[df_covid_c['Province/State'].isnull()]
df_covid_c.T

                    18       143      242
Province/State      NaN      NaN      NaN
Country/Region  Bahamas    India       US
Lat             25.0259  20.5937       40
Long           -78.0359  78.9629     -100
1/22/20               0        0        1
...                 ...      ...      ...
9/1/20             2276  3769523  6073840
9/2/20             2337  3853406  6113510
9/3/20             2386  3936747  6150016
9/4/20             2386  4023179  6200518
9/5/20             2476  4113811  6244970

[232 rows x 3 columns]