<a href="https://colab.research.google.com/github/alekyapopuri96/DataVizFall2020_Colab/blob/master/Python_Basics_lec02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> I am Alekya Popuri</h1>

In [2]:
%reset -f

<h1> Python Basics</h1>

In [3]:
print("Hello World")

Hello World

**Variables** and **Objects**

In [5]:
str_string = "This is a string." ## String
multi_line_string = """This is a miltiline string
line 1
line 2
line 3
"""
Integer_Variable = 1996
RealNumberVar = 2.203328 ## float 
boolVar = True ## True/False
List_string_integer = [str_string, Integer_Variable, RealNumberVar, boolVar, [1,2,3]] ## a list of items
constant_tuple = ("This","is",1,"tuple","!") ## tuple 
Dictionary_list = {0: 100,
                       '1': 222,
                       'A200':100,
                       (1,2,3,4,5):"value is a string, key is a tuple"}## dictionary will be used a lot
Set_object = set([1,2,3,4,4,4,4,5,6,7,7,7,8]) ## set is good for removing repeated objects from a list

print("single string:", str_string)
print("multilinestring:",multi_line_string)
print("integer value:", Integer_Variable)
print("realnumber:",RealNumberVar)
print("boolean variable:(true or false)",boolVar)
print("simple list object:",List_string_integer)
print("tuple:(cant be changed)",constant_tuple)
print("dictionary:",Dictionary_list)
print("set(can remove duplicates):", Set_object)

single string: This is a string.
multilinestring: This is a miltiline string
line 1
line 2
line 3

integer value: 1996
realnumber: 2.203328
boolean variable:(true or false) True
simple list object: ['This is a string.', 1996, 2.203328, True, [1, 2, 3]]
tuple:(cant be changed) ('This', 'is', 1, 'tuple', '!')
dictionary: {0: 100, '1': 222, 'A200': 100, (1, 2, 3, 4, 5): 'value is a string, key is a tuple'}
set(can remove duplicates): {1, 2, 3, 4, 5, 6, 7, 8}

**Operations** and **Comparisions**

In [6]:
## Initializing Lists
First_list=[1,2,3,4]
Second_list=[5,6,7]
print("firstlistid:",id(First_list))
print("secondlistid:",id(Second_list))

firstlistid: 140113798487240
secondlistid: 140113667935560

In [7]:
First_list = Second_list
print("First list after copying :", First_list)
## printing list id's after copying
print("firstlistid:",id(First_list))
print("secondlistid:",id(Second_list))

First list after copying : [5, 6, 7]
firstlistid: 140113667935560
secondlistid: 140113667935560

**Conditions**

In [8]:
## If...Else..If
a=7
b=9
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal b")

a is less that b

**Loops**

In [14]:
## For Loop
for i in range(2000,2020,2):
  print("number:",i)

number: 2000
number: 2002
number: 2004
number: 2006
number: 2008
number: 2010
number: 2012
number: 2014
number: 2016
number: 2018

In [17]:
number = range(2000,2020,2)
for i,element in enumerate(number):
  print(f'element index {i} is {element}')

element index 0 is 2000
element index 1 is 2002
element index 2 is 2004
element index 3 is 2006
element index 4 is 2008
element index 5 is 2010
element index 6 is 2012
element index 7 is 2014
element index 8 is 2016
element index 9 is 2018

***While*** **Loop**

In [24]:
lst = range(0,100,10)
i = 0
element = 0
while(element<30):
  element  = lst[i]
  print(element)
  i=i+1

0
10
20
30